In [1]:
import pandas as pd

data=pd.DataFrame({"A":[1,2,3,4,5,6],"B":[7,8,9,10,11,12]})

In [2]:
data.insert(1,"pandas",data["A"])
print(data)

   A  pandas   B
0  1       1   7
1  2       2   8
2  3       3   9
3  4       4  10
4  5       5  11
5  6       6  12

In [9]:
data.insert(2,"UID",[111,222,333,444,555,666])
print(data)

   A  pandas  UID  python2
0  1       1  111      1.0
1  2       2  222      2.0
2  3       3  333      3.0
3  4       4  444      NaN
4  5       5  555      NaN
5  6       6  666      NaN

In [4]:
data['python2']=data["A"][:3]
print(data)

   A  pandas  UID   B  python2
0  1       1  111   7      1.0
1  2       2  222   8      2.0
2  3       3  333   9      3.0
3  4       4  444  10      NaN
4  5       5  555  11      NaN
5  6       6  666  12      NaN

# DELETE

In [5]:
data.pop("B")
print(data)

   A  pandas  UID  python2
0  1       1  111      1.0
1  2       2  222      2.0
2  3       3  333      3.0
3  4       4  444      NaN
4  5       5  555      NaN
5  6       6  666      NaN

In [6]:
print(data)

   A  pandas  UID  python2
0  1       1  111      1.0
1  2       2  222      2.0
2  3       3  333      3.0
3  4       4  444      NaN
4  5       5  555      NaN
5  6       6  666      NaN

In [8]:
data.pop("UID")

0    111
1    222
2    333
3    444
4    555
5    666
Name: UID, dtype: int64