# join

In [16]:
import pandas as pd


f1=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]},index=['G','H','I','J'])
f2=pd.DataFrame({'C':[21,42,31,45],'D':[55,64,73,88]},index=['G','H','I','J'])


f1.join(f2)

   A  B   C   D
G  1  5  21  55
H  2  6  42  64
I  3  7  31  73
J  4  8  45  88

In [11]:
 


d1=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]},index=['G','H','I','J'])
d2=pd.DataFrame({'C':[21,42],'D':[55,64]},index=['G','H'])


d2.join(d1,how='right')

      C     D  A  B
G  21.0  55.0  1  5
H  42.0  64.0  2  6
I   NaN   NaN  3  7
J   NaN   NaN  4  8

# Append

In [26]:
import pandas as pd

 
c1 = pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
c2 = pd.DataFrame({'C':[21,42,31,45],'D':[55,64,73,88]})
 
 
c1.append(c2 )

AttributeError: 'DataFrame' object has no attribute 'append'

<class 'pandas.core.frame.DataFrame'>