# MERGE

In [21]:
import pandas as pd

data1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})

data2=pd.DataFrame({"A":[1,2,3,4,5],"C":[15,16,17,18,20]})

print(pd.merge(data1,data2,on="A"))

   A  B   C
0  1  6  15
1  2  7  16
2  3  8  17
3  4  9  18

In [22]:
print(pd.merge(data1,data2,how="left"))

   A   B     C
0  1   6  15.0
1  2   7  16.0
2  3   8  17.0
3  4   9  18.0
4  5  10   NaN

In [23]:
print(pd.merge(data1,data2,how="right"))

   A  B   C
0  1  6  15
1  2  7  16
2  3  8  17
3  4  9  18

In [25]:
print(pd.merge(data1,data2,how="outer",indicator=True))

   A   B     C     _merge
0  1   6  15.0       both
1  2   7  16.0       both
2  3   8  17.0       both
3  4   9  18.0       both
4  5  10   NaN  left_only

# concat

In [26]:
sr1=pd.Series([1,2,3,4])
sr2=pd.Series([5,6,7,8])

# print(sr1)

0    1
1    2
2    3
3    4
dtype: int64

In [28]:
pd.concat([sr1,sr2])

0    1
1    2
2    3
3    4
0    5
1    6
2    7
3    8
dtype: int64

In [40]:
d1=pd.DataFrame({"A":[1,2,3,4,5],"B":[6,7,8,9,10]})

d2=pd.DataFrame({"A":[1,2,3,4,5],"B":[15,16,17,18,20]})

pd.concat([d1,d2],axis=1)

   A   B  A   B
0  1   6  1  15
1  2   7  2  16
2  3   8  3  17
3  4   9  4  18
4  5  10  5  20

In [38]:
m=pd.concat([d1,d2],axis=1,join='inner')
print(m)

   A   B  A   B
0  1   6  1  15
1  2   7  2  16
2  3   8  3  17
3  4   9  4  18
4  5  10  5  20